/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    rgb(255, 170, 136),
    rgb(255, 137, 26)
  );
  display: flex;
  alight-items: center;
  justify-content: center;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

form {
  display: block;
  position: relative;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 155, 24),
    rgb(235, 235, 235)
  );
}

form:inline {
} */
