@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    justify-content: center;
    align-items: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    justify-content: center;
    align-items: center;
  }
}

html body {
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom right, red, #aeaeff); */
}
