@media all and (min-width: 280px) {
  .Login {
    padding: 30px 0;
    justify-content: center;
    align-items: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    justify-content: center;
    align-items: center;
  }

  .Login p {
    color: white;
  }
}

.login-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.login-input::placeholder {
  text-align: center;
  display: block;
}

.login-input:focus .login-input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: orange;
}

.bottom-text {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: rgb(255, 114, 79);
}

.top-text {
  margin: auto;
  position: absolute;
  bottom: 90%;
  left: 0;
  right: 0;
}

.bottom-text:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.login-input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, orange, red);
  border-image-slice: 1;
}
